@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px); 
}

.dashboard-content h1{
  margin-bottom: 30px;
}

.dashboard-section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.visual-data {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column; /* Stack items vertically */
  }

  .dashboard-content {
    margin-left: 0; /* Remove left margin for full width on small screens */
    width: 100%;
    padding: 15px;
  }

  .dashboard-content h1 {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
  }

  .section-title {
    font-size: 16px; /* Decrease font size for section titles */
  }

  .visual-data {
    padding: 15px; /* Adjust padding for visual data */
  }
}