@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.master-list-container {
  display: flex;
}

.master-list-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px); 
}

.master-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.master-header-container h1 {
  font-size: 24px;
  font-weight: bold;
}

.action-icons2 {
  display: flex;
  align-items: center;
}

.header-icon2 {
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.search-container2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-container2 input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-container2 button {
  background-color: #a625ec;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container2 button:hover {
  background-color: #dd9dff;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

table th {
  background-color: #f4f4f4;
}

.table-icon2 {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.header-icon2:hover, .table-icon2:hover {
  color: #a625ec;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .master-header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-icons2 {
    margin-top: 10px;
  }

  .search-bar2 {
    width: 100%;
  }
}
